/* Mobile First - Layout para dispositivos móveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
}

.logo img {
    width: 80px;
}

.icons {
    display: none; /* Escondido no mobile */
}

.main-section {
    display: block;
    padding: 20px 0;
}

.photo img {
    width: 100%;
    height: auto;
}

.text {
    padding-top: 20px;
}

.text h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.text p {
    text-align: center;
    font-size: 1rem;
    color: #333;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #0073e6;
    color: white;
}
.aphex{
        width: 100%;
        height: auto; 
        object-fit: cover;
}
.section-botton{
    background: url(https://i.ebayimg.com/images/g/b2UAAOSwxeNgMRIy/s-l1200.webp);
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}


@media (min-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 20px;
    }

    .icons {
        display: flex;
        gap: 15px;
        font-size: 1.2rem;
    }

    .main-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }

    .photo img {
        width: 400px;
        height: auto; 
        object-fit: cover;
    }

    .text {
        padding-left: 20px;
        max-width: 50%;
        margin-bottom: 8%;
    }

    .text h1 {
        text-align: left; 
        font-size: 2rem;
    }

    .text p {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.6;
    }
}
